.player {
    /* position: sticky;
    bottom: 0; */
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #420b50;
    /* background: linear-gradient(#500b19, #771414); */
    background: linear-gradient(#3e3e3e, #212020);
    padding: 1rem 0.5rem 0.5rem;
    box-shadow: 0px -1px 13px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}
.player * {
    margin: 0;
}
audio {
    display: none;
}

input[type='range'].rangeBar {
    margin: 0;
}
input[type='range'].rangeBar:active {
    transform: none;
}
input[type='range'].rangeBar:focus {
    box-shadow: none;
}
input[type='range'].rangeBar::-webkit-slider-runnable-track, input[type='range'].rangeBar:focus::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #2f020b;
    height: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
}
input[type='range'].rangeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    background: linear-gradient(#941919, #761125);
    border-radius: 50%;
}
input[type='range'].seekBar {
    width: 100%;
    height: 0.625rem;
    margin: 0;
}
  
.runningButton {
    display: flex;
    align-items: center;
    max-height: 2.5rem;
    /* background: #420101; */
    background: #171616;
}
.runningButton svg {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
}
.playerFigure {
    max-width: 7rem;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    /* border: 3px solid #500b19; */
    border: 3px solid #212020;
    box-sizing: border-box;
}
.playerContent {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}
.playerTitle {
    font-size: 0.85rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: pretty;
}
.playerChannel {
    font-size: 0.75rem;
}
.playerActions {
    display: flex;
    justify-content: space-between;    
}