.player {
    /* position: sticky;
    bottom: 0; */
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #420b50;
    /* background: linear-gradient(#500b19, #771414); */
    /* background: linear-gradient(#3e3e3e, #212020); */
    background: linear-gradient(#421477, #24043c);
    padding: 1rem 0.5rem 0.5rem;
    box-shadow: 0px -1px 13px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
    z-index: 1;
}
.player.collapsed .playerContent {
    gap: 0.5rem;
    order: 1;
}
.player.collapsed .playerActions {
    gap: 0.5rem;
    order: 1;
}
.player.collapsed .timeHandler {
    display: flex;
    flex-basis: 50%;
    gap: 0.5rem;
    align-items: center;
}
.player.collapsed .playerFigure,
.player.collapsed .playerTitle,
.player.collapsed .playerChannel {
    display: none;
}
.player * {
    margin: 0;
}
audio {
    display: none;
}

input[type='range'].rangeBar {
    margin: 0;
    /* cursor: grab; */
}
input[type='range'].rangeBar:hover {
    cursor: grab;
}
input[type='range'].rangeBar:active {
    transform: none;
    cursor: grabbing;
}
input[type='range'].rangeBar:focus {
    box-shadow: none;
}
input[type='range'].rangeBar::-webkit-slider-runnable-track, input[type='range'].rangeBar:focus::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background: #c3c3c3;
    height: 0.5rem;
    width: 100%;
    border-radius: 0.5rem;
}
input[type='range'].rangeBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
    background: linear-gradient(#8d8d8d, #767676);
    border-radius: 50%;
    transform: translateY(0.05rem);
}
input[type='range'].seekBar {
    width: 100%;
    height: 0.625rem;
    margin: 0;
}
  
.runningButton {
    display: flex;
    align-items: center;
    max-height: 2.5rem;
    /* background: #420101; */
    background: #171616;
}
.runningButton svg {
    color: white;
    width: 1.5rem;
    height: 1.5rem;
}
.playerFigure {
    max-width: 7rem;
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden;
    /* border: 3px solid #500b19; */
    border: 3px solid #212020;
    box-sizing: border-box;
}
.playerContent {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}
.playerTitle {
    font-size: 0.85rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
    text-wrap: pretty;
}
.playerChannel {
    font-size: 0.75rem;
}
.playerActions {
    display: flex;
    justify-content: center;
    gap: 1rem;  
}
.playerButton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    padding: 0;
}
.playerButton:hover, .playerButton:active, .playerButton:focus {
    background: #530000;
} 
.playerButton svg {
    color: white;
    width: 1.2rem;
    height: 1.2rem;
}
.volumeControl {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    z-index: 1;
}
input[type='range'].volumeRange {
    background: #171616;
    filter: opacity(0);
    visibility: hidden;
}
.volumeHandler {
    transition: all 0.15s ease-in;
    position: absolute;
    z-index: 1;
}
.volumeControl:hover .volumeHandler {
    background: #530000;
}
.volumeControl:hover input[type='range'].volumeRange {
    background: #530000;
    filter: opacity(1);
    visibility: visible;
}
input[type='range'].volumeRange {
    padding: 1rem 1rem 1rem 3rem;
    transition: all 0.15s ease-in;
}
input[type='range'].volumeRange, input[type='range'].volumeRange:active , input[type='range'].volumeRange:focus {
    transform: rotate(270deg) translate(3.8rem, -3.75rem);
    border-radius: 5rem;
    width: 10rem;
    position: absolute;
    bottom: 0;
}
.time {
    text-align: right;
}
.buttonCollapseStatus {
    background: linear-gradient(#7639a4, #421477);
    padding: 0.2rem 0.6rem;
    position: absolute;
    bottom: 100%;
    right: 1rem;
    transform: translate(0, 0.5rem);
    color: white;
}
button.buttonCollapseStatus:hover,
button.buttonCollapseStatus:active
button.buttonCollapseStatus:focus {
    background: linear-gradient(#3977a4, #421477);
    transform: translate(0, 0.5rem);
    /* color: #54c900; */
    box-shadow: none;
    border: none;
}
.buttonCollapseStatus svg{
    width: 1.2rem;
    height: 1.2rem;
}


@media screen and (width < 48rem) {
    .player .playerActions {
        gap: 0.5rem;
    }
    .player.collapsed .playerActions {
        order: initial;
    }
    .player.collapsed .playerContent {
        flex-flow: column nowrap;
        justify-content: flex-end;
    }
}