
.form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.form * {
    margin: 0;
}
.formSearch {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 0.5rem;
}
.error {
    color: #e400ff;
    font-size: 0.825rem;
    position: absolute;
    top: 100%;
    background: #00000085;
    padding: 1rem;
    font-weight: bold;
    left: 0;
    max-width: 69%;
    width: 100%;
    border-bottom: 2px solid #e400ff;
}
.seeker {
    position: relative;
    background: #00000059;
    padding: 1rem 2rem;
    width: 100%;
}
.searchButton {
    color: white;
    padding: 0;
    display: flex;
    background: none;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    border-radius: 0.5rem;    
}
.searchButton:hover {
    background: none;
    color: #6916c8;
    background-color: #d4cfd7;
    box-shadow: inset 0px 0px 10px 3px #5a5a5a;
}
.searchButton svg {
    width: 2rem;
    height: 2rem;
}