.page {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.channel {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.player {
    display: fixed;
    bottom: 0;
}